.header {
    font-family: 'Kaushan Script', cursive;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

.follow-text {
    color: limegreen;
}

.follower-text {
    color: red;
}

.profile-photo {
    display: inline-block;
}

.photo-wrapper {
    margin-bottom: 10px;
    margin-right: 7px;
}

.name {
    display: inline-block;
}

.user-name {
    font-size: .8em;
}

a.follow {
    display: inline-block;
    float: right;
    margin-top: 10px;
}